body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  background-color: var(--main-background-color2);
  /* Box model */
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: initial;
}

.container {
  /* Box model */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  /* Box model */
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.header__logo {
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__black {
  color: var(--alternative-color2);
}

.logo__white {
  color: var(--second-color);
}

.header {
  background-color: var(--main-background-color2);
  border-bottom: 1px solid var(--header-line-color);
}

.header__container {
  /* Box model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--alternative-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--primary-color);
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contact {
  /* Box model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--primary-color);
}

.site-nav {
  /* Box model */
  margin-left: 93px;
}

.site-nav__list {
  /* Box model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  /* Box model */
  margin-right: 50px;
}

.site-nav__link {
  /* Box model */
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link--current {
  position: relative;
  color: var(--primary-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--primary-background-color);
  border-radius: 2px;
}

.footer {
  /* Box model */
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}

.footer-block-address {
  margin-right: 70px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__logo {
  /* Box model */
  display: block;
  margin-bottom: 20px;
}

.footer-address__item:not(:last-child) {
  /* Box model */
  margin-bottom: 9px;
}

.footer-address__link:hover,
.footer-address__link:focus {
  color: var(--primary-color);
}

.footer-address__link-map:hover,
.footer-address__link-map:focus {
  color: var(--primary-color);
}

.footer-address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address__link-map {
  color: var(--second-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-address__link {
  color: var(--second-color2);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

/* Invintation */
.footer-invitation {
  margin-right: 93px;
}

.footer-invitation__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--second-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-invitation-social__item {
  width: 44px;
  height: 44px;
}

.footer-invintation-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--social-list-gap);
}

.footer-invintation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--title-inverse-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-invintation__icon {
  display: block;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-invintation__link:hover,
.footer-invintation__link:focus {
  color: var(--second-color);
  background-color: var(--primary-background-color);
}

.team-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--social-list-gap);
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__icon {
  width: 20px;
  height: 20px;
  display: block;
  fill: currentColor;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--social-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.social__link:hover, .social__link:focus {
  background-color: var(--primary-background-color);
  color: var(--second-color);
}

button {
  cursor: pointer;
}

.blue-btn {
  color: var(--second-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  padding: 0px 32px;
  height: 50px;
  min-width: 200px;
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-icon-btn {
  margin-left: 10px;
  fill: currentColor;
}

.subscription-btn {
  padding: 0 0;
}

.activity-list {
  /* Box model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section--no-top-padding {
  /* Box model */
  padding-top: 0px;
}

.activity-list__item:not(:last-child) {
  /* Box model */
  margin-right: 30px;
}

.activity-list__item {
  position: relative;
}

.activity-list__overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.activity-list__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--list-gap);
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--social-color);
  border: 1px solid var(--social-color);
  border-radius: 4px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.clients__icon {
  display: block;
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.features {
  /* Box model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__box {
  width: 270px;
  height: 120px;
  background-color: var(--second-background-color2);
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__item:not(:last-child) {
  /* Box model */
  margin-right: 30px;
}

.feature__title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* Box model */
  margin-top: 0;
  margin-bottom: 10px;
}

.feature__description {
  color: var(--alternative-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* Box model */
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  background-color: var(--second-background-color);
  text-align: center;
  /* Box model */
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/headerimg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/headerimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: var(--second-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  /* Box model */
  margin-top: 0;
  margin-bottom: 30px;
}

/* Hero button */
.hero__btn {
  margin-right: auto;
  margin-left: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-background-color2);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(100%, 100%);
          transform: translate(-50%, -50%) scale(100%, 100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.is-hiden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0, 0);
          transform: translate(-50%, -50%) scale(0, 0);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-background-color2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__btn-close-icon {
  fill: var(--alternative-color2);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal__btn-close:hover .modal__btn-close-icon,
.modal__btn-close:focus .modal__btn-close-icon {
  fill: var(--primary-color);
}

.modal__btn-close:active .modal__btn-close-icon {
  fill: var(--primary-color);
}

.order-form {
  padding: 40px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.order-text-field {
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;
}

.order-text-field__label {
  display: block;
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--alternative-color);
}

.order-text-field__input-form {
  position: relative;
}

.order-text-field__input {
  width: 100%;
  display: block;
  padding: 12px 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.order-text-field__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-text-field__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-text-field__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-text-field__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-text-field__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-text-field__input:focus,
.order-text-field__input:hover {
  border-color: var(--primary-color);
  outline: 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.comment-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.order-checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.order-checkbox-field-input {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.order-checkbox-field-input + .checkbox-custom {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  background-color: var(--main-background-color2);
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--main-color);
          box-shadow: inset 0px 0px 0px 2px var(--main-color);
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.order-checkbox-field-input:checked + .checkbox-custom {
  background-color: var(--primary-background-color);
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--primary-color);
          box-shadow: inset 0px 0px 0px 2px var(--primary-color);
}

.order-checkbox-field-input:focus + .checkbox-custom {
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--primary-color);
          box-shadow: inset 0px 0px 0px 2px var(--primary-color);
}

.order-checkbox-field-input:checked:focus + .checkbox-custom {
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--main-color);
          box-shadow: inset 0px 0px 0px 2px var(--main-color);
}

.checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alternative-color);
}

.policy-link {
  color: var(--primary-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.submit__btn {
  -ms-flex-item-align: center;
      align-self: center;
}

.order-text-field__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--main-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.order-text-field__input:hover + .order-text-field__icon {
  fill: var(--primary-color);
}

.order-text-field__input:focus + .order-text-field__icon {
  fill: var(--primary-color);
}

.subscription-form-title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--second-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-style: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--second-color);
  background-color: var(--second-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.section--team-bgrnd {
  background-color: var(--second-background-color2);
}

.team {
  /* Box model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--list-gap);
}

.team__item {
  -ms-flex-preferred-size: calc((100% - 20px) / 3);
      flex-basis: calc((100% - 20px) / 3);
  background-color: var(--main-background-color2);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  /* Box model */
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  /* Box model */
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__description {
  /* Box model */
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--alternative-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.examples__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--list-gap);
}

.examples__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}
.examples__link:hover, .examples__link:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.examples-footer {
  /* Box model */
  padding: 20px 24px;
  border: 1px solid var(--examples-line-color);
}

.examples__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* Box model */
  margin-top: 0;
  margin-bottom: 4px;
}

.examples-category {
  color: var(--alternative-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  /* Box model */
  margin-top: 0;
  margin-bottom: 0;
}

.examples-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}
.examples__link:hover .examples-overlay, .examples__link:focus .examples-overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.examples-overlay-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.examples__item-box {
  position: relative;
  overflow: hidden;
}

.filter__list {
  /* Box model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  /* Box model */
  margin-top: 0px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn.current {
  background-color: var(--primary-background-color);
  color: var(--second-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-color: transparent;
  background-color: var(--second-background-color2);
  /* Box model */
  padding: 6px 22px;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--primary-background-color);
  color: var(--second-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-color: #212121;
  --primary-color: #2196F3;
  --second-color: #FFFFFF;
  --alternative-color: #757575;
  --second-color2: rgba(255, 255, 255, 0.6);
  --main-background-color: #E5E5E5;
  --main-background-color2: #FFFFFF;
  --second-background-color: #2F303A;
  --second-background-color2: #F5F4FA;
  --primary-background-color: #2196F3;
  --alternative-color2: #000000;
  --header-line-color: #ECECEC;
  --examples-line-color: #EEEEEE;
  --social-color: #AFB1B8;
  --list-gap: 30px;
  --examples__item-margin: 30px;
  --social-list-gap: 10px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}/*# sourceMappingURL=main.css.map */