body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    background-color: var(--main-background-color2);
    /* Box model */
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}