.hero {
    background-color: var(--second-background-color);
    text-align: center;
    /* Box model */
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/headerimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    color: var(--second-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    /* Box model */
    margin-top: 0;
    margin-bottom: 30px;
}

/* Hero button */
.hero__btn {
    margin-right: auto;
    margin-left: auto;
}